<h4> Collaborators </h4>
<% if policy(@wiki).destroy? %>
  <%= form_tag(collaborators_path, method: 'post') do %>
    <%= text_field_tag :email, nil, class: 'form-control', placeholder: "Add collaborators"%><br>
    <%= hidden_field_tag :wiki_id, @wiki.id%><br>
    <%= submit_tag "Save collaborators", class: 'btn btn-success' %>
  <% end %>
<% end %>

<% @wiki.collaborators.each do |collaborator| %>
  <%= (User.find_by id: collaborator.user_id).email %>
  <% if policy(@wiki).destroy? %>
    <%= button_to "Remove", collaborator_path, method: :delete, params: {:user_id => collaborator.user_id}, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this collaborator?' } %>
  <% end %>
<% end %>
